.game-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.game-link {
    display: inline-block;
}

.white-line {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}